@import './parciales/main';
@import './componentes/footer';
@import './componentes/main';
@import './componentes/header';

*{
    padding: 0;
    margin: 0;
}

html { /* etiqueta raíz */
    font-size: 62.5%; /* esto hace q cada REM que usemos sea de 10px */
}

ul{
    list-style: none;  /* las ul no tienen los puntos */
}

a{
    text-decoration: none; /* todos mis endcore no tienen la linea de abajo */
}


body{
    background-color: #F6DCBF;
    font-size: 2rem;
    font-family: 'Exo 2', sans-serif;
}




/* font-family: 'Barlow', sans-serif; */
/* font-family: 'Exo 2', sans-serif; */