footer {
    display: grid;
    grid-template-columns: 1fr; /* Tiene que estar si o si*/
    grid-template-rows: 1fr; /* Tiene que estar si o si*/
    grid-row-gap: 5px;
    grid-template-areas: 
    "nav"
    "reserved";
    font-size: 1.5rem; 
    background-color: #AAAAAA;
    border: black 0.1rem inset;
    text-align: center;
    nav{
        margin-top: 2rem;
        grid-area: nav;
    }
    p{
        grid-area: reserved;
    }
}

i{ /*color y tamaño de logos footer*/
    color: $maincolor;
    font-size: 3rem;
}